@font-face {
    font-family: "Gotham Book";
    src: url("Gotham-Book.eot"); /* IE9 */
    src: url("Gotham-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Gotham-Book.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Gotham-Book.woff") format("woff"), /* chrome, firefox */
    url("Gotham-Book.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Gotham-Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


