@font-face {
    font-family: "Gotham Black";
    src: url("Gotham-Black.eot"); /* IE9 */
    src: url("Gotham-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Gotham-Black.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Gotham-Black.woff") format("woff"), /* chrome, firefox */
    url("Gotham-Black.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Gotham-Black.svg#Gotham Black") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


