@font-face {
    font-family: "Gotham Medium";
    src: url("Gotham-Medium.eot"); /* IE9 */
    src: url("Gotham-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Gotham-Medium.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Gotham-Medium.woff") format("woff"), /* chrome, firefox */
    url("Gotham-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Gotham-Medium.svg#Gotham Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


