@font-face {
    font-family: "Gotham Bold";
    src: url("Gotham-Bold.eot"); /* IE9 */
    src: url("Gotham-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Gotham-Bold.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Gotham-Bold.woff") format("woff"), /* chrome, firefox */
    url("Gotham-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Gotham-Bold.svg#Gotham Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


